@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-header {
    @apply text-xl font-semibold text-blue-600;
}
a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
}
